.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 60vh;
    margin: 0 auto;
    height: auto;
    max-height: 100vh;
    margin-top: calc(100vh - 55vh);
    background: #fff;
    border-radius: 20px;
    padding: 50px;
    border: 10px solid rgb(255, 255, 255);
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    justify-content: center;
    top: 40vh;
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
  }

  @media screen and (max-width: 600px) {
    .popup-box {
      position: fixed;
      background: #00000050;
      width: 100%;
      height: 200vh;
      top: 0;
      left: 0;
    }

    .box {
      position: relative;
      width: 60vh;
      margin: 0 auto;
      height: auto;
      max-height: 100vh;
      margin-top: calc(100vh - 55vh);
      background: #fff;
      border-radius: 4px;
      padding: 50px;
      border: 1px solid #999;
      overflow: auto;
    }

  
  }